/.vs
*.sln
demo
*.csproj
obj
bin
*.suo
*.user
*.png
*.lock
*.mp4
*.ide
*.ide-shm
*.ide-wal
/ObjectsAndClassesLab/packages/Nakov.TurtleGraphics.1.0.0.2/Nakov.TurtleGraphics.1.0.0.2.nupkg
/ObjectsAndClassesLab/packages/Nakov.TurtleGraphics.1.0.0.2/lib/net20/Nakov.TurtleGraphics.dll
/-Copy.gitignore
*.txt
*.zip
DesignTimeBuild
*.dtbcache
/C# Web/C# Web Development Basics/ExamPrep/MishMash/Apps
appsettings.json
appsettings.Development.json
