<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
        </ul>
    </div>
</nav>
<hr style="height: 2px" />
<div class="align-content-md-center">
    <h1 class="text-success">Login</h1>
    <div style="display: @Model.showError; color: red">
        @Model.error
    </div>
    <form method="post" action="/users/login">
        <div class="form-group">
            <label >Username/Email:</label>
            <input type="text" name="usernameOrEmail" placeholder="Username or Email" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Password" />
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-sm">Login</button>
        </div>
    </form>
</div>
<hr />
<div>Copy Right &copy; Classics Design Studio. All right reserved.</div>